node_modules
public
.tmp
.idea
client/bower_components
dist
server/records/*
!server/records/.gitkeep
server/pdfs1/*
!server/pdfs1/.gitkeep
server/pdfs/*
!server/pdfs/.gitkeep
server/fileserver/*
!server/fileserver/.gitkeep
/server/config/local.env.js
npm-debug.log
coverage
/client/index.html
server/app.js
/server/app.js
server/firebase.json
