<div ng-if="sicHours.loggedIn()" style="margin-left:10px">
    <h3>Pilot Flight Log</h3>
    <h4>Flights Since April 2021</h4>
    <p>Pilot Name: {{sicHours.pilot.displayName}} , Certificate Number: {{sicHours.pilot.cert}}</p>
    <button class="btn btn-success" ng-click="sicHours.openPdf()">Create and Fill SIC PDF Form(s) for 408</button>
    <button class="btn btn-primary" ng-repeat="fileURL in sicHours.fileURLs track by $index" ng-click="sicHours.viewPage($index)">
        View Page {{$index+1}}</button>
    <br>
    Select Aircraft: Cumulative Hours: {{sicHours.flights[sicHours.flights.length-1].cumHours}}
    <div style="width: 300px;">
        <ui-select ng-model="sicHours.aircraftSelected" theme="bootstrap" dropdown-position="down" on-select="sicHours.filterFlights()">
          <ui-select-match placeholder="Choose Tab">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="item in sicHours.aircraft" >
            <div ng-bind-html="item | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
    </div>
    <br>
    <div class="points-row">
        Start Date: 
        <div style="padding-left:0px;padding-top:0px" class="input-group">
          <input style="height:35px;width:150px;" type="text" ng-model="sicHours.startDateStringFormatted" 
              ng-blur="sicHours.upDate('string','start')" ng-keydown="sicHours.handle($event,'start')">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="isStartDatepickerOpen = !isStartDatepickerOpen">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
          <input style="display:none" type="text" class="form-control" uib-datepicker-popup="EEEE MMM d, yyyy" ng-model="sicHours.startDate" 
             ng-change="sicHours.upDate('','start')" is-open="isStartDatepickerOpen" datepicker-options="sicHours.datepickerOptions" 
             ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
        </div>
        End Date:
        <div style="padding-left:0px;padding-top:0px" class="input-group">
          <input style="height:35px;width:150px;" type="text" ng-model="sicHours.endDateStringFormatted" 
              ng-blur="sicHours.upDate('string','end')" ng-keydown="sicHours.handle($event,'end')">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="isEndDatepickerOpen = !isEndDatepickerOpen">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
          <input style="display:none" type="text" class="form-control" uib-datepicker-popup="EEEE MMM d, yyyy" ng-model="sicHours.endDate" 
             ng-change="sicHours.upDate('','end')" is-open="isEndDatepickerOpen" datepicker-options="sicHours.datepickerOptions" 
             ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
        </div>
        <button class="btn btn-warning" ng-click="sicHours.clearDates()">Clear Dates</button>
    </div>
    </b>
    <hr>
    <table class="table table-bordered">
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Registration</th>
            <th>Flt#</th>
            <th>Route</th>
            <th>PIC</th>
            <th>PIC TO & Land</th>
            <th>SIC</th>
            <th>SIC TO & Land</th>
            <th>Flt Hours</th>
            <th>Cum Hours</th>
        </tr>
        <tr ng-repeat="flight in sicHours.flights | orderBy:'-' track by $index">
            <td>{{flight.dateString}}</td>
            <td>{{flight.acftType}}</td>
            <td>{{flight.acftNumber}}</td>
            <td>{{flight.flightNumber}}</td>
            <td>{{flight.route.toString()}}</td>
            <td>{{flight.pilot}}</td>
            <td>{{flight.picTO + ' / ' + flight.picLND}}</td>
            <td>{{flight.coPilot}}</td>
            <td>{{flight.sicTO + ' / ' + flight.sicLND}}</td>
            <td>{{(flight.flightTime/60).toFixed(1)}}</td>
            <td>{{flight.cumHours}}</td>
        </tr>
    </table>
</div>
