<div flex layout="row">
  <div flex layout="row" id="content">
    <div flex layout="column">
     <md-content flex class="space">
        <table flex class="table table-striped table-responsive table-hover">
          <thead>    
            <tr>
                <th>New Pilot</th>
                <th>Medical Class</th>
                <th>Medical Date</th>
                <th>Date of Birth</th>
                <th>Certificate Type</th>
                <th>Certificate Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td><input class="form-control" ng-model="main.newPilot.name" type="text"></td>
                <td><input class="form-control" ng-model="main.newPilot.medicalClass" type="text"></td>
                <td><input class="form-control" ng-model="main.newPilot.medicalDate" type="text"></td>
                <td><input class="form-control" ng-model="main.newPilot.dateOfBirth" type="text"></td>
                <td><input class="form-control" ng-model="main.newPilot.certType" type="text"></td>
                <td><input class="form-control" ng-model="main.newPilot.certNumber" type="text"></td>
                <td><a href="#" ng-click="main.cancel()"><button class="btn btn-warning" ng-class="main.isItDisabled()">Cancel</button></a></td>
                <td><button class="btn btn-primary" ng-class="main.isItDisabled()" ng-click="main.save(main.newPilot)">Save</button></td>
            </tr>
        
          </tbody>
        </table>
        </br>
        <table flex class="table table-striped table-responsive table-hover">
          <thead>    
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Pilot</th>
                <th>Base Months</th>
                <th>Medical Class</th>
                <th>Medical Date</th>
                <th>Date of Birth</th>
                <th>Certificate Type</th>
                <th>Certificate Number</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pilot in main.pilots" ng-init="pilotIndex=$index">
                <td>
                  <button class="btn btn-primary" ng-class="main.isItDisabled()" ng-click="main.pdf(pilot._id,'ROT')">
                    <span ng-if="main.isItLoading()" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                    ROT
                  </button>
                </td>
                <td><button class="btn btn-warning" ng-class="main.isItDisabled()" ng-click="main.pdf(pilot._id,'FlightTest')"><span ng-if="main.isItLoading()" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Flight Test</button></td>
                <td><button class="btn btn-success" ng-class="main.isItDisabled()" ng-click="main.pdf(pilot._id,'FlightTestINDOC')"><span ng-if="main.isItLoading()" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>INDOC</button></td>
                <td><input class="form-control" ng-model="pilot.name" type="text"></td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Base Month
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <!--<li ng-repeat="form in main.formTypes" ng-class="{ 'invisible': form.id !== 4 }" role="separator" class="divider"></li>-->
                        <li ng-repeat="form in main.formTypes" ng-attr-role="{'separator' : form.id == 4}" ng-init="formIndex=$index"
                               ng-class="{'divider' : form.id == 4}" class="dropdown-submenu" onclick="event.stopPropagation();"
                               id="{{'listItem'+ pilotIndex + formIndex}}">
                          <input type="checkbox" id="{{'radioSelect' + form.id}}" ng-model="form.radio" ng-change="main.radioChange(pilotIndex,formIndex,form.radio)">
                          <label for="{{'radioSelect' + form.id}}">{{form.label}}</label>
                          <ul class="dropdown-menu">
                            <li onclick="event.stopPropagation();">
                              <ui-select ng-model="main.tempBases[pilotIndex][form.id].month" theme="bootstrap" close-on-select="true" on-select="main.onSelect($item,pilotIndex,formIndex)">
                                <ui-select-match placeholder="Select a month in the list...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="item in main.months | filter: $select.search">
                                  <div ng-bind-html="item | highlight: $select.search"></div>
                                  <!--<small ng-bind-html="item.email | highlight: $select.search"></small>-->
                                </ui-select-choices>
                              </ui-select>
                              <!--<input class="form-control" id="{{'pilot' + pilot._id + '_form' + form.id}}" 
                                  ng-blur="main.updateBaseMonth(pilot, form)" ng-model="main.tempBases[form.id].month" type="text">
                              <label for="{{'pilot' + pilot._id + '_form' + form.id}}">{{'Base Month for ' + form.label}}</label>-->
                            </li>
                          </ul>
                        </li>
                    </ul>
                  </div>
                </td>
                <td><input class="form-control" ng-model="pilot.medicalClass" type="text"></td>
                <td><input class="form-control" type="text" ng-model="pilot.medicalDate" ng-blur="main.medBlur(pilot._id)"></td>
                <td><input class="form-control" type="text" ng-model="pilot.dateOfBirth" ng-blur="main.dobBlur(pilot._id)"></td>
                <td><input class="form-control" ng-model="pilot.certType" type="text"></td>
                <td><input class="form-control" ng-model="pilot.certNumber" type="text"></td>
                <td><button class="btn btn-success" ng-class="main.isItDisabled()" ng-click="main.update(pilot._id)">Update</button></td>
                <td><button class="btn btn-danger" ng-class="main.isItDisabled()" ng-click="main.delete(pilot._id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </md-content>
     </div>
    </div>
</div>


