<div style="margin-left:50px;">
    <h3>Select One or More Files to Upload</h3>
    <input class="form-control" style="width:800px;" type="file" multiple id="file" name="file" ng-model="pdf.file"/>
    <br>
    <h3>Click on File to Download</h3>
    <table class="table table-responsive" style="width:600px;">
      <tr ng-repeat="filename in pdf.fileList track by $index">
        <td>
          <a href="#" ng-click="pdf.click(filename)">{{filename}}</a>
        </td>
        <td>
          <button class="btn btn-danger" ng-click="pdf.delete(filename)">Delete</button>
        </td>
      </tr>
    </table>
</div>